.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 800;
    font-style: normal;
  }  



body {
    font-family: "Space Mono",Arial, sans-serif;
    background-color: #AEC6CF;
    color: #000;
    padding: 40px;
  } 
  
  h1 {
    text-align: match-parent;
    color: #2c2;
    margin-bottom: 40px;
  }
  
  div {
    max-width: 700px;
    margin: auto;
    padding: 40px;
    background: #fff;
    border-radius: 15px;
 
  }
  
  input[type="text"] {
    width: 100%;
    padding: 20px;
    margin-right: 20px;
    border: 1px solid #aaa;
    border-radius: 10px;
  }
  
  button {
    text-align: right;
    padding: 10px 20px;
    background-color: #2c2;
    color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    justify-content: center;
  }

  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
  }
  
  
  li button {
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #f66;
  }
